body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* generral */
.block{
  display:block;
}
.flex{
  display: flex;

}
/* nav bar */
 
.container{
  width: 100%;
  height: 800px;
 
  background-color: #c5b4e4;
}
.main-nav {
  display: flex;
  justify-content: space-between;


}
 .logoimg{
  height: 100px;
  width: 100px; 
  margin-left: 10px;
  margin-top: 10px;
 }
 .nav{ 
  display: flex;
  justify-content: space-between;


 }
 .nav > li {
  margin-right: 40px;
  list-style-type: none;
  margin-top: 20px;
 }
 .nav > li > a{
  text-decoration: none;
 color: rgb(59, 14, 88);
 }

 /* section */
 .content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .textbox
{
    position: relative;
    max-width: 600px;
	margin-left: 10px;
}
.content .textbox h2 {color: white;
font-size: 4em;
line-height: 1.5em;
font-weight: 900;
text-transform: uppercase;
font-family: Arial, Helvetica, sans-serif;}
.content .textbox h2 span {
    font-size: 2em;

}
.content .textbox p {color:white;


}

.content .textbox .link {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background-color: white;
    color:#111;
    border-radius: 40px;
}
.imgbx img{
    width: 300px;
    height: 300px;
}
.content .imgbx{
    width: 600px;
margin-top: 50px;
    display: flex;
    padding-right: 50px;
    justify-content: flex-end;
}
/* login */

.main{
	width: 350px;
	height: 500px;
	background: rgb(255, 255, 255);
	overflow: hidden;

	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
	margin-left: 35%;
    margin-top: 10%;
}

 #chk{
	display: none;
}
.signup{
	position: relative;
  width:100%;
	height: 100%;


}
label{
	color: #573b8a;
	font-size: 2.3em;
	display: flex;
  justify-content: center;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
.input1{
	width: 60%;
	height: 30px;
	background: #f5f2f2;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}



.button1{
	width: 60%;
	height: 40px;
	display: block;
  margin: 10px auto;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
} 
.div{
  text-align: center;
}
div .message{
 text-decoration: none;
 color: #af46af;
}
/* 
button:hover{
	background: #6d44b8;
} */
.login{
	height: 460px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.login label{
	color: #573b8a;
	transform: scale(.6);
}

#chk:checked ~ .login{
	transform: translateY(-500px);
}
#chk:checked ~ .login label{
	transform: scale(1);	
}
#chk:checked ~ .signup label{
	transform: scale(.6);
} 


.adress{
	text-align: center;
}

.griditem{
	border: 1px solid gray;
}




.hidden {
	display: none;
  }
  
  .footer-gray {
	background-color: #EFEFEF;
	width: 100%;
  }
  
  .footer-custom {
	color: #888;
	font: normal normal 12px/1.4 "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	max-width: 1008px;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 24px;
  }
  
  .footer-custom:after {
	display: table;
	clear: both;
	content: "";
  }
  
  .footer-lists:after {
	display: table;
	clear: both;
	content: "";
  }
  
  .ftr-hdr {
	color: #000;
	font: 22px/1.4 'BebasNeueRegular', BebasNeue, 'Bebas Neue', Arial, sans-serif;
	margin: 1em 0 0;
  }
  
  @media only screen and (min-width: 768px) {
	.ftr-hdr {
	  font-size: 18px;
	}
  }
  
  .footer-list-wrap {
	width: 50%;
	float: left;
	box-sizing: border-box;
  }
  
  @media only screen and (min-width: 568px) {
	.footer-list-wrap {
	  width: 33.3333%;
	}
  }
  
  @media only screen and (min-width: 768px) {
	.footer-list-wrap {
	  width: 25%;
	}
  }
  
  .ftr-links-sub {
	padding: 0;
	margin: 0;
  }
  
  .ftr-links-sub:after {
	display: table;
	clear: both;
	content: "";
  }
  
  .ftr-links-sub li {
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 3px 0;
	color: #888;
	font: normal normal 12px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	text-transform: uppercase;
	/*width: 150px;*/
  }
  
  .footer-custom a,
  .footer-custom a:link,
  .footer-custom a:visited,
  .ftr-links-sub li .link {
	text-decoration: none;
	color: #888;
	padding: 5px 0;
	display: block;
  }
  
  .footer-custom .footer-legal a {
	display: inline;
  }
  
  .footer-custom a:hover,
  .footer-custom a:active,
  .ftr-links-sub li .link:hover {
	text-decoration: underline;
	color: #888;
	cursor: pointer;
  }
  
  @media only screen and (min-width: 768px) {
	.footer-custom a, .footer-custom a:link, .footer-custom a:visited, .ftr-links-sub li .link {
	  padding: 0;
	}
  }
  /* BEGIN EMAIL CAPTURE STYLES*/
  
  .footer-email {
	text-align: center;
  }
  
  #ftrEmailForm {
	height: 44px;
  }
  
  #ftrEmailForm .error {
	display: none;
	color: red;
	text-align: left;
  }
  
  #ftrEmailForm #ftrEmailInput {
	background: none repeat scroll 0 0 #FFF;
	border: 1px solid #D6D6D6;
	box-sizing: border-box;
	color: #888;
	float: left;
	font: normal normal 14px/1.4 "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	padding: 5px;
	width: 70%;
	height: 100%;
  }
  
  #ftrEmailForm #ftrEmailInput:hover {
	border: 1px solid #888;
  }
  
  #ftrEmailForm #ftrEmailInput:focus {
	border: 1px solid #ef9223;
	outline: #ef9223 auto 5px;
  }
  
  #ftrEmailForm .button {
	width: 30%;
	height: 100%;
	padding: 5px;
	float: left;
	border: 1px solid #DFDFDF;
	box-sizing: border-box;
	color: #000;
	font: normal bold 18px/1 BebasFamily, BebasNeueRegular, "Bebas Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	text-transform: uppercase;
	background: #FFF;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #e1e1e1));
	background: -webkit-linear-gradient(top, white 0, #e1e1e1 100%);
	background: -moz-linear-gradient(top, white 0, #e1e1e1 100%);
	background: -ms-linear-gradient(top, white 0, #e1e1e1 100%);
	background: -o-linear-gradient(top, white 0, #e1e1e1 100%);
	background: linear-gradient(to bottom, white 0, #e1e1e1 100%);
	cursor: pointer;
	vertical-align: middle;
	outline: none;
  }
  
  #ftrEmailForm .button:hover,
  #ftrEmailForm .button:active {
	background: black;
	color: #FFF;
	outline: none;
  }
  /* BEGIN SOCIAL STYLES*/
  
  .footer-social {
	text-align: center;
  }
  
  .footer-social ul {
	padding: 0;
	display: inline-block;
	list-style-type: none;
  }
  
  .footer-social ul:after {
	display: table;
	clear: both;
	content: "";
  }
  
  .footer-social li {
	float: left;
	margin: 0 15px 0 0;
	padding: 0;
  }
  
  @media only screen and (min-width: 768px) {
	.footer-lists {
	  width: 100%;
	}
	.footer-email {
	  width: 50%;
	  float: left;
	  text-align: left;
	}
	.footer-social {
	  width: 45%;
	  margin-left: 5%;
	  float: left;
	  text-align: left;
	}
  }
  
  @media only screen and (min-width: 1008px) {
	.footer-lists {
	  width: 66.6666%;
	  float: left;
	}
	.footer-email {
	  width: 33.3333%;
	}
	.footer-social {
	  width: 33.3333%;
	  float: right;
	  margin-left: 0;
	}
  }
  
  .footer-legal {
	padding: 15px 0 0;
	clear: left;
  }
  
  .footer-payment {
	text-align: center;
  }
  
  @media only screen and (min-width: 768px) {
	.footer-legal {
	  width: 66.6666%;
	  float: left;
	}
	.footer-payment {
	  width: 33.3333%;
	  float: left;
	}
  }
  
  @media only screen and (min-width: 1008px) {
	.footer-payment {
	  text-align: left;
	}
  }
  
  .footer-payment ul {
	padding: 0;
	display: inline-block;
	list-style-type: none;
  }
  
  .footer-payment ul li {
	display: inline-block;
	margin: 0 6px;
  }
  
  @media only screen and (min-width: 1008px) {
	.footer-payment ul li.ftr-stella {
	  margin-left: 0;
	}
  }
  
  .ftr-bbb span,
  .ftr-stella span {
	background-image: url("http://cache1.artprintimages.com/images/jump_pages/rebrand2/images/subnav2.png");
	background-repeat: no-repeat;
	background-color: transparent;
	cursor: pointer;
	display: inline-block;
	height: 36px;
	margin: 0;
	padding: 0;
  }
  
  .ftr-bbb span {
	background-position: -339px -8px;
	width: 96px;
  }
  
  .ftr-stella span {
	background-position: -339px -107px;
	width: 57px;
  }






/* card */

.line{
	background-color: rgb(109, 85, 163);
	height: 5px;
	width: 200px;
	margin-left: calc(50% - 100px);
	
}

.photo-album ul{
	display: flex;
	
	
}
img {

	max-width: 100%;
	filter: drop-shadow(1px 1px 3px #a6a6a6);
  }
  

  
  h3 {
	font-size: 0.7em;
	letter-spacing: 1.2px;
	color: #a6a6a6;
  }

 
  
  /* ----- Product Section ----- */
  .product {
	
	
margin: 10%;
	width: 80%;
	background-color: white;
	border-radius: 5px;
  }
  .photo-container{
	
	padding-right: 10%;
  }
  .plist{
	padding: 0%;
display: grid;
justify-content: space-between;
grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  
  .photo-album ul {
	display: flex;
	justify-content: space-around;
	padding: 0%;
  }
  .photo-album li {
	list-style-type: none;
  }
  .photo-main img {
	width: 50%;
 margin-left:30%;
	
  }
  .photo-main {
	
	border-radius: 6px 6px 0 0;
	
	
  } 

.product__info{
  text-align: center;
}
.link{
  text-decoration: none;
  color: #000;
}



.rating span{
  color: #f0c040;
  margin: 0.1rem;
}
 

  

  /*888888888888888888888888888888888888888888888 mainheader */
  .hcontainer{
	display: flex;
	justify-content: space-between;
	background: linear-gradient(to top, white 0, #b58ed4 50%);
	
  }
  .rightpart{
	display:flex;
	margin:30px 20px ;
  }
  .rightpart form{
margin: 15px 100px;
display: flex;
width: 50%;
  }
  .rightpart form input {
	margin-right: 10px;

  }
  .circle{
	background-color: rgb(87, 29, 153);
	width:30px;
	height: 30px;
	border: 1px solid black;
	border-radius: 100%;
	text-align: center;
	font-weight: bolder;
	margin-left: 25px;
	color:white;
	line-height: 30px;
}

.input{
	width: 90%;
	height: 25px;
	background: #f5f2f2;
	border: none;
	outline: none;
	border-radius: 5px;
}



.button{
	width: 30%;
	height: 30px;
	

	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
.button2{
	width: 90px;
	height: 30px;
	margin-top: 5px;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;

}
/* 88888888888888888888888888888888888888888dashbord */
.mm{
	display: flex;
}
.menu-item,
.menu-open-button {
   background: #EEEEEE;
   border-radius: 100%;
   width: 80px;
   height: 80px;
 
   position: absolute;
   color: #FFFFFF;
   text-align: center;
   line-height: 80px;
   -webkit-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
   -webkit-transition: -webkit-transform ease-out 200ms;
   transition: -webkit-transform ease-out 200ms;
   transition: transform ease-out 200ms;
   transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}
.menu-item{
	margin-left: 18.5px;
	margin-top: 57px;
}

.menu-open {
   display: none;
}

.lines {
   width: 25px;
   height: 3px;
   background: #596778;
   display: block;
   position: absolute;
   top: 50%;
   left: 50%;
   margin-left: -12.5px;
   margin-top: -1.5px;
   -webkit-transition: -webkit-transform 200ms;
   transition: -webkit-transform 200ms;
   transition: transform 200ms;
   transition: transform 200ms, -webkit-transform 200ms;
}

.line-1 {
   -webkit-transform: translate3d(0, -8px, 0);
   transform: translate3d(0, -8px, 0);
}

.line-2 {
   -webkit-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
}

.line-3 {
   -webkit-transform: translate3d(0, 8px, 0);
   transform: translate3d(0, 8px, 0);
}

.menu-open:checked + .menu-open-button .line-1 {
   -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
   transform: translate3d(0, 0, 0) rotate(45deg);
}

.menu-open:checked + .menu-open-button .line-2 {
   -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
   transform: translate3d(0, 0, 0) scale(0.1, 1);
}

.menu-open:checked + .menu-open-button .line-3 {
   -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
   transform: translate3d(0, 0, 0) rotate(-45deg);
}

.menu {
   margin: 200px auto;
  
   width: 80px;
   height: 80px;
   text-align: center;
   box-sizing: border-box;
   font-size: 26px;
}


 .menu-item {
   transition: all 0.1s ease 0s;
} 

 .menu-item:hover {
   background: #EEEEEE;
   color: #3290B1;
}

.menu-item:nth-child(3) {
   -webkit-transition-duration: 180ms;
   transition-duration: 180ms;
}

.menu-item:nth-child(4) {
   -webkit-transition-duration: 180ms;
   transition-duration: 180ms;
}

.menu-item:nth-child(5) {
   -webkit-transition-duration: 180ms;
   transition-duration: 180ms;
}

.menu-item:nth-child(6) {
   -webkit-transition-duration: 180ms;
   transition-duration: 180ms;
}

.menu-item:nth-child(7) {
   -webkit-transition-duration: 180ms;
   transition-duration: 180ms;
}

.menu-item:nth-child(8) {
   -webkit-transition-duration: 180ms;
   transition-duration: 180ms;
}

.menu-item:nth-child(9) {
   -webkit-transition-duration: 180ms;
   transition-duration: 180ms;
}

.menu-open-button {
   z-index: 2;
   -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
   transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
   -webkit-transition-duration: 400ms;
   transition-duration: 400ms;
   -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
   transform: scale(1.1, 1.1) translate3d(0, 0, 0);
   cursor: pointer;
   box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
}

.menu-open-button:hover {
   -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
   transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open:checked + .menu-open-button {
   -webkit-transition-timing-function: linear;
   transition-timing-function: linear;
   -webkit-transition-duration: 200ms;
   transition-duration: 200ms;
   -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
   transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item {
   -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
   transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}

.menu-open:checked ~ .menu-item:nth-child(3) {
   transition-duration: 180ms;
   -webkit-transition-duration: 180ms;
   -webkit-transform: translate3d(0.08361px, -104.99997px, 0);
   transform: translate3d(0.08361px, -104.99997px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(4) {
   transition-duration: 280ms;
   -webkit-transition-duration: 280ms;
   -webkit-transform: translate3d(90.9466px, -52.47586px, 0);
   transform: translate3d(90.9466px, -52.47586px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(5) {
   transition-duration: 380ms;
   -webkit-transition-duration: 380ms;
   -webkit-transform: translate3d(90.9466px, 52.47586px, 0);
   transform: translate3d(90.9466px, 52.47586px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(6) {
   transition-duration: 480ms;
   -webkit-transition-duration: 480ms;
   -webkit-transform: translate3d(0.08361px, 104.99997px, 0);
   transform: translate3d(0.08361px, 104.99997px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(7) {
   transition-duration: 580ms;
   -webkit-transition-duration: 580ms;
   -webkit-transform: translate3d(-90.86291px, 52.62064px, 0);
   transform: translate3d(-90.86291px, 52.62064px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(8) {
   transition-duration: 680ms;
   -webkit-transition-duration: 680ms;
   -webkit-transform: translate3d(-91.03006px, -52.33095px, 0);
   transform: translate3d(-91.03006px, -52.33095px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(9) {
   transition-duration: 780ms;
   -webkit-transition-duration: 780ms;
   -webkit-transform: translate3d(-0.25084px, -104.9997px, 0);
   transform: translate3d(-0.25084px, -104.9997px, 0);
}

.blue {
   background-color: #669AE1;
   box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
   text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.blue:hover {
   color: #669AE1;
   text-shadow: none;
}

.green {
   background-color: #70CC72;
   box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
   text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.green:hover {
   color: #70CC72;
   text-shadow: none;
}

.red {
   background-color: #FE4365;
   box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
   text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.red:hover {
   color: #FE4365;
   text-shadow: none;
}

.purple {
   background-color: #C49CDE;
   box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
   text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.purple:hover {
   color: #C49CDE;
   text-shadow: none;
}

.orange {
   background-color: #FC913A;
   box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
   text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.orange:hover {
   color: #FC913A;
   text-shadow: none;
}

.lightblue {
   background-color: #62C2E4;
   box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
   text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.lightblue:hover {
   color: #62C2E4;
   text-shadow: none;
}

.credit {
   margin: 24px 20px 120px 0;
   text-align: right;
   color: #EEEEEE;
}

.credit a {
   padding: 8px 0;
   color: #C49CDE;
   text-decoration: none;
   transition: all 0.3s ease 0s;
}

.credit a:hover {
   text-decoration: underline;
} 


/* admin */
.p{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 50px;
}
.p div{
  width: auto;
  height: 200px;
  background-color: #669AE1;
  margin: 20px;
  border-radius: 15px;
  color: white;
}
.myForm{
  width: auto;
  height: 200px;
  background-color: #669AE1;
  margin: 20px;
  border-radius: 15px;
  color: white;
  display: none;
}
/* new product */
.containe{
  margin:5% ;
  width: 60%;
  height: fit-content;
  text-align: center;
display: flex;
border: 0.5px solid black;
border-radius: 20px;
box-shadow: 5px 20px 50px #000;
}

.containe .sec{
  width: 100%;

}
.containe .image{
  margin: 0px;
  width: auto;
  height: 85%;

}
.inputcontainer {
 width: 70%;
}
.containe .sec button{
  width: 70%;
  margin-top: 8.7%;
}
/* sidemenu */
.mcontainer{
  background-color: rgba(112, 106, 106,0.5);
  color: #eee;
  width: 25%;
  height:100vh;
  margin: 0%;
}
.mcontainer ul{
  list-style-type: none;
}
 .h{
  display: block;
}

.scontainer{
  display: flex;
}
/* table */
.theader {
  background-color: #327a81;
  color: white;
  font-size: 1.5em;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
}



.table-users {
  border: 1px solid #327a81;
  border-radius: 10px;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
  max-width: calc(100% - 2em);
  margin: 1em auto;
  overflow: hidden;
  width: 800px;
}

table {
  width: 100%;
}
table td, table th {
  color: #2b686e;
  padding: 10px;
}
table td {
  text-align: center;
  vertical-align: middle;
}
table td:last-child {
  font-size: 0.95em;
  line-height: 1.4;
  text-align: center;
}
table th {
  background-color: #daeff1;
  font-weight: 300;
}
table tr:nth-child(2n) {
  background-color: white;
}
table tr:nth-child(2n+1) {
  background-color: #edf7f8;
}

@media screen and (max-width: 700px) {
  table, tr, td {
    display: block;
  }

  td:first-child {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
  }
  td:not(:first-child) {
    clear: both;
    margin-left: 100px;
    padding: 4px 20px 4px 90px;
    position: relative;
    text-align: left;
  }
  td:not(:first-child):before {
    color: #91ced4;
    content: "";
    display: block;
    left: 0;
    position: absolute;
  }
  td:nth-child(2):before {
    content: "Name:";
  }
  td:nth-child(3):before {
    content: "Email:";
  }
  td:nth-child(4):before {
    content: "Role:";
  }
 

  tr {
    padding: 10px 0;
    position: relative;
  }
  tr:first-child {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .theader {
    background-color: transparent;
    color: white;
    font-size: 2em;
    font-weight: 700;
    padding: 0;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
  }



  td:first-child {
    background-color: #c8e7ea;
    border-bottom: 1px solid #91ced4;
    border-radius: 10px 10px 0 0;
    position: relative;
    top: 0;
    transform: translateY(0);
    width: 100%;
   
  }
  td:not(:first-child) {
    margin: 0;
    padding: 5px 1em;
    width: 100%;
  }
  td:not(:first-child):before {
    font-size: 0.8em;
    padding-top: 0.3em;
    position: relative;
  }
  td:last-child {
    padding-bottom: 1rem !important;
  }

  tr {
    background-color: white !important;
    border: 1px solid #6cbec6;
    border-radius: 10px;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
    margin: 0.5rem 0;
    padding: 0;
  }

  .table-users {
    border: none;
    box-shadow: none;
    overflow: visible;
  }
}












.counter{
  display: none;
}
.buy--btn[gh=2]{
  display:none;
}
#image{
  visibility: hidden;
  height: 90%;
  width:100%;
  margin: 3%;

}
#image img{
  border-radius: 20px;
  height: 90%;
  width: 100%;
}


/* cart */
.image{
  width: 100px;
  height: 100px;
  margin: 20px;
}

.flex p{
  margin: 20px;
  font-weight: 600;
  font-size: larger;

}
/* product */
.row{
  margin: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.card-body{
  border:1px solid black;
  border-radius: 5px;
  background-color: #f5edfa;
  width:100%;
}
.col-1{
  flex: 1 1 25rem;
}
.col-2{
  flex: 2 1 50rem;
}
img.medium{
  max-width: 29rem;
  width: 100%;
}
img.large{
  width: 100%;

}
ul{

}
li{
  list-style-type: none;
}
.success{
color: #20a020;
}
.error{
color: red;
}
.prod{
  width: 70%;
}
/* cart */
.flex.pmenu>li{
  margin-right: 5rem;

}
.boxcontainer{
position:absolute;
}
.flex .box{
  border: 1px solid black;
  border-radius: 0.2rem;
  padding: 0.7rem;
  background-color: #d6bbdf;
  top: 0;
}
